body {
    font-family: Arial;
}

h1 {
    margin: 0px;
}

hr {
    color: #b0f49e;
}

head {
    background-color: #c7f7ff;
}

.cabecera-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#c7f7ff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 20px;
}

main {
    display:flex;
    color: #5d858d;
    gap: 20px;
}

aside {
    width: 25%;
    background-color: #bfcddb;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    margin: 0px;
}

section {
    width: 75%;
    background-color: #c7f7ff;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer {
    text-align: center;
    padding: 10px 10px;
}

.boton {
    color: black;
    background-color: #bea1a1;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
}

.boton:hover {
    color: white;
    background-color: #667562;
}

.seccion {
    color: black;
    background-color: #7692c777;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
}

.seccion:hover {
    color: white;
    background-color: #8393b0;
}

.boton-activo {
    color: white;
    background-color: #889a82;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
}

.barra-navegacion {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    justify-content: center;
}

.imagen-redonda {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 15px;
    border-radius: 100%;
}

.content-right {
    display: flex;
    justify-content: right;
}

.content-left {
    display: flex;
    justify-content: left;
}

.img-fix {
    width: 25%;
    height: auto;
    object-fit: cover;
    padding: 15px;
    border-radius: 20px;
    display: block;
}

.seccion-adopcion {
    background-color: #6d7ac36c;
    border-radius: 15px;
    display: flex;
    padding: 5px 5px;
    text-align: left;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 5px;
}

.img-cuadrada {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    border-radius: 20px;
}

.aside {
    height: 400px;      /* Altura fija y grande */
    width: 300px;        /* El ancho se ajusta solo */
    object-fit: cover;  /* Recorta si es necesario para mantener proporción */
    border-radius: 20px;
    padding: 5px;
}